

body{
    background-image: url("123k.jpg");
    background-repeat: no-repeat;
	background-size: cover;
    font-family: Arial;
   
}

header{
    background-color: rgba(216, 33, 33, 0.671);
    display: flex;
    justify-content: space-around;
} 

.profile{
    width: 250px; height: 250px;
    border-radius: 0%;}


main {
    background-color: rgba(205, 218, 30, 0.685)
}    
.tekst{
    text-align: center;
    background-color: rgb(187, 107, 16);
}


   