body{
    background-image: url("imagesplus/backgrounddenji2.jpg");
    background-repeat: no-repeat;
	background-size: cover;
    font-family: Arial;
    color:aliceblue;
}

header{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgba(216, 33, 33, 0.671);
    
    height: 270px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;   
}
  
.gora{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    text-align: center;
    margin-left: 40px;
    padding: 10px;
    background-color: rgba(0, 255, 255, 0.301);
}

.right{
    text-align: center;
    margin-right: 40px;
    padding: 10px;
    background-color: rgba(0, 255, 255, 0.301);
}

.profile{
    margin-top: 12px;
    width: 240px; height: 240px;
    border-radius: 50%;
}

.podgora{
    background-color: aliceblue;
    color: black;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}
.menu{
    background-color: rgb(42, 180, 223);
    margin-left: 40px;
    margin-right: 40px;
}
ul{
    

}

ul li{
list-style: none;
margin: 0;
padding: 0;
}

main ul li a{
    text-decoration: none;
    display: inline-block;
    

}
main {
    background-color: rgba(205, 218, 30, 0.685);
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
    padding: 10px;
    border: 3px solid rgb(243, 242, 242);
}    
.tekst{
    text-align: center;
    background-color: rgb(187, 107, 16);
}


   